/* Map */
.map {
  height: 30rem;
}

@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}

/* Override background color */
.bg-primary {
  background-color: #d2406c !important;
}


#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #d2406c;
}


/* Definições da fonte, (inclusive cor), na primeira página 
#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff ;
}
*/

/* Cor da fonte, com foco, na primeira página */
/* Quando coloquei o !important, o comportamento foi replicado nas demais
 * páginas */
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #d2406c !important;
}


/* Cor da fonte, item selecionado - atual na navegação */
#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #d2406c !important;
  background-color: transparent;
}


/* Cor da seleção no box de portfolio */
.portfolio-box-caption:hover {
  background: #d2406c !important;
  opacity: 0.8 !important;
}


a {
  color: #8d2b48;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}


/* Cor da seleção de textos padrão <a> */
a:hover {
  color: #d2406c;
}


.contact {
  /*padding: 15rem 0;*/
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("../img/patterns/miadore_pat1.png");
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/patterns/miadore_pat1.png");
  /*background-position: center center;*/
  background-repeat: repeat;
  /*background-size: cover;*/
}


